{% set test_lang = request.environ.CKAN_LANG %}
{% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
    <div class="row" style="padding-bottom:30px;">
      <div class="col-md-4" >
		<img src="https://opendata.conselldeivissa.es/recursos/logo-blanco.png" alt="Consell Insular d'Eivissa" title="Consell Insular d'Eivissa">
		<ul class="list-unstyled" style="padding-top:30px;">
			<li><i class="fa fa-map-marker"></i><a> Avenida d'Espanya 49. Eivissa</a></li>
			<li><i class="fa fa-phone"></i><a> 971 19 59 00 </a></li>
			<li><i class="fa fa-envelope"></i><a> dep.transparencia@conselldeivissa.es </a></li>
		</ul>
	  </div>
	  
	  
	  <div class="col-md-4 footer-links">

          <ul class="list-unstyled">
            {% if test_lang == "es" %}
				<li style="margin-bottom:10px;"><b><u>DATOS ABIERTOS</u></b></li>
				<li><a href="pages/que-son">¿Qué son?</a></li> 
				<li><a href="/dataset">Catálogo de datos</a></li>
				<li><a href="pages/info-plataforma-ckan">Información plataforma</a></li>
				<li><a href="/pages/api">{{ _('CKAN API') }}</a></li>
			{% elif test_lang == "ca" %}
				<li style="margin-bottom:10px;"><b><u>DADES OBERTES</u></b></li>
				<li><a href="pages/que-son">Què són?</a></li> 
				<li><a href="/dataset">Catàleg de dades</a></li>
				<li><a href="pages/info-plataforma-ckan">Informació plataforma</a></li>
				<li><a href="/pages/api">{{ _('CKAN API') }}</a></li>
			{% else %}
				<li style="margin-bottom:10px;"><b><u>OPEN DATA</u></b></li>
				<li><a href="pages/que-son">Overview</a></li> 
				<li><a href="/dataset">Datasets</a></li>
				<li><a href="pages/info-plataforma-ckan">Web information</a></li>
				<li><a href="/pages/api">{{ _('CKAN API') }}</a></li>
			{% endif %}
			
			
			
			
			
			
          </ul>

      </div>
      <div class="col-md-4 attribution">       
		<ul class="list-unstyled">
			<li style="margin-bottom:10px;"><b><u>ENLACES</u></b></li>
			<li><a href="https://www.conselldeivissa.es/">Portal Corporativo</a>
			<li><a href="https://seu.conselldeivissa.es">Sede Electrónica</a>
		</ul>

      </div>
    </div>
	<div class="row" style="padding-top:15px; border-top:1px solid #C0C0C0;">
		<div class="col-md-6">
			Portal Dades Obertes Consell Insular d'Eivissa &nbsp; <a href="http://www.opendefinition.org/okd/"><img src="{{ h.url_for_static('/base/images/od_80x15_blue.png') }}" alt="Open Data"></a> 
		</div>
		<div class="col-md-6" style="text-align:right;">
			<a href="/pages/aviso-legal" style="margin-right:20px;">{{ _('Aviso Legal') }}</a>
			<a href="https://opendata.conselldeivissa.es/es/">ES</a> |
			<a href="https://opendata.conselldeivissa.es/ca/">CA</a> |
			<a href="https://opendata.conselldeivissa.es/en/">EN</a> 
		</div>
	</div>
    {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
