{% ckan_extends %}

{% block header_site_navigation %}
        <nav class="section navigation">
		<div style="float:right">
          <ul class="nav nav-pills">
			
			<li>    
				<a href="/dataset">{{ _('Datasets') }}</a>	
			</li>
			<li>
				<a href="/group">{{ _('Groups') }}</a>
			</li>
			<li>
				<a href="/about">{{ _('About') }}</a>
			</li>
  

          
			
          </ul>
		   </div>
		  <div style="clear:both">
			<ul class="nav navbar-nav">
											
			</ul>
			</div>
        </nav>
      {% endblock %}

